/* colors */
$bg: $white;
$text-color: color('grey','darken-4');

$primary-color: color('red', 'darken-1');

$hover_color: color('grey', 'lighten-2');
$border-color: color("grey","lighten-3");
$icon-color: color("grey", "darken-3");
$bg-secondary: color("grey", "lighten-4");
$scrollbar-bg: color('grey', 'lighten-2');
