*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;background-repeat:no-repeat}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:where(:root){cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%}
:where(body){block-size:-moz-available;block-size:-webkit-fill-available;block-size:stretch;margin:0}
:where(h1){font-size:2em;margin:.67em 0}
:where(dl,ol,ul) :where(dl,ol,ul){margin:0}
:where(hr){color:inherit;height:0}
:where(nav) :where(ol,ul){list-style-type:none;padding:0}
:where(navli)::before{content:"\200B";float:right}
:where(pre){font-family:monospace,monospace;font-size:1em;overflow:auto}
:where(abbr[title]){text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
:where(b,strong){font-weight:bolder}
:where(code,kbd,samp){font-family:monospace,monospace;font-size:1em}
:where(small){font-size:80%}
:where(audio,canvas,iframe,img,svg,video){vertical-align:middle}
:where(iframe){border-style:none}
:where(svg:not([fill])){fill:currentColor}
:where(table){border-collapse:collapse;border-color:inherit;text-indent:0}
:where(button,input,select){margin:0}
:where(button,[type=button i],[type=reset i],[type=submit i]){-webkit-appearance:button}
:where(fieldset){border:1px solid #a0a0a0}
:where(progress){vertical-align:baseline}
:where(textarea){margin:0;resize:vertical}
:where([type=search i]){-webkit-appearance:textfield;outline-offset:-2px}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}
::-webkit-input-placeholder{color:inherit;opacity:.54}
::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
:where(dialog){background-color:#fff;border:solid;color:#000;height:-moz-fit-content;height:-webkit-fit-content;height:fit-content;right:0;margin:auto;padding:1em;position:absolute;left:0;width:-moz-fit-content;width:-webkit-fit-content;width:fit-content}
:where(dialog:not([open])){display:none}
:where(details>summary:first-of-type){display:list-item}
:where([aria-busy=true i]){cursor:progress}
:where([aria-controls]){cursor:pointer}
:where([aria-disabled=true i],[disabled]){cursor:not-allowed}
:where([aria-hidden=false i][hidden]){display:initial}
:where([aria-hidden=false i][hidden]:not(:focus)){clip:rect(0,0,0,0);position:absolute}
:where(:root),body.night-mode{--font:Muli,"Nunito Sans",Arial,Helvetica,sans-serif;--list-line-height:2rem;--footer-line-height:2.4rem}
.flex-center,.settings-group,.settings-group .settings-group__input-field label{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
body,html{font-size:14px;line-height:1.4;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#212121;background-color:#fff;font-family:var(--font);color:var(--color);background-color:var(--bg);margin:0}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
.browserupgrade{margin:.2em 0;padding:.2em 0;background:#fff;color:#212121;background:var(--bg);color:var(--color)}
ul{list-style-type:none;margin:0;padding:0}
svgicons{display:none}
*{scrollbar-width:thin;scroll-behavior:smooth;scrollbar-color:#e0e0e0 #fff;scrollbar-color:var(--scrollbar-bg) var(--bg)}
body:not(.MacOS) ::-webkit-scrollbar-track{background-color:#fff;background-color:var(--bg)}
body:not(.MacOS) ::-webkit-scrollbar{width:10px;height:10px;background-color:#fff;background-color:var(--bg)}
body:not(.MacOS) ::-webkit-scrollbar-thumb{border-radius:10px;background-color:#e0e0e0;border:2px solid #fff;background-color:var(--scrollbar-bg);border:2px solid var(--bg)}
.serif{font-family:Georgia}
.bold{font-weight:700}
.italic{font-style:italic}
.hidden{display:none!important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
.container{position:relative;width:100%;max-width:960px;margin:0 auto;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box}
.column,.columns{width:100%;float:right;-webkit-box-sizing:border-box;box-sizing:border-box}
.container:after,.row:after,.u-cf{content:"";display:table;clear:both}
.svg-icon{display:inline-block;width:1rem;height:1rem}
.svg-icon svg{width:inherit;height:inherit;vertical-align:unset}
.sidebar{width:100%;max-width:280px;position:absolute;z-index:1;background-color:#fff;padding-top:var(--list-line-height);background-color:var(--bg)}
.sidebar.left{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.sidebar.left ul{list-style-type:none;padding:0;margin:0;width:100%;height:100%;overflow:auto;padding:8px 0 12px}
.sidebar.left ul li{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:0;margin:0;display:block;padding:2px 8px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;line-height:var(--list-line-height)}
.sidebar.left ul li span{display:inline-block;padding:0 12px;border-radius:3rem}
.sidebar.left ul li.active{font-weight:700}
.sidebar.left ul li.active span{background-color:#d32f2f;color:#fff;background-color:var(--primary-color);color:var(--bg)}
.sidebar.left ul li.active:hover{cursor:default}
.sidebar.left ul li.active:hover span{background-color:#d32f2f;color:#fff;background-color:var(--primary-color);color:var(--bg)}
.sidebar.left ul li.divider{font-weight:bolder;pointer-events:none;background-color:#f5f5f5;background-color:var(--bg-secondary)}
.sidebar.left ul li:hover{cursor:pointer}
.sidebar.left ul li:hover span{background-color:#e0e0e0;color:#212121;background-color:var(--hover-color);color:var(--color)}
.sidebar.left .books_list,.sidebar.left .chapters_list,.sidebar.left .verses_list{display:inline-block;height:100%;position:relative;border-left:1px solid #eee;border-left:1px solid var(--border-color)}
.sidebar.left .books_list .list_title,.sidebar.left .chapters_list .list_title,.sidebar.left .verses_list .list_title{padding:0 8px;font-weight:700;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;right:0;position:absolute;top:calc(-1 * 2rem);width:calc(100% + 1px);white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;top:calc(-1 * var(--list-line-height));border-bottom:1px solid #eee;border-left:1px solid #eee;top:calc(-1 * var(--list-line-height));line-height:var(--list-line-height);border-bottom:1px solid var(--border-color);border-left:1px solid var(--border-color)}
.sidebar.left .books_list{width:200px}
.sidebar.left .books_list li{padding:2px 8px}
.sidebar.left .books_list .list_title{padding:0 16px}
.sidebar.left .chapters_list,.sidebar.left .verses_list{width:80px}
.sidebar.left .verses_list{display:none}
.sidebar.right{margin-right:auto;border-right:1px solid var(--border-color)}
.application{background-color:#fff;background-color:var(--bg)}
.application.fixed-layout header{position:fixed;position:-webkit-sticky;position:sticky;top:0}
.application.fixed-layout .verse-viewport{overflow:hidden}
.application.fixed-layout .verse-viewport .sidebar{height:100%;display:none}
header{height:52px;width:100%}
footer{position:fixed;bottom:0;width:100%;text-align:center;line-height:var(--footer-line-height);font-size:.8rem;text-transform:uppercase;letter-spacing:.4rem;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-top:1px solid #eee;background-color:#f5f5f5;border-top:1px solid var(--border-color);background-color:var(--bg-secondary)}
footer .foot__credits .svg-icon{color:#e53935;width:1rem;height:1rem;margin:0 .4rem 0 .6rem}
footer .foot__credits .svg-icon svg{vertical-align:middle}
.preloader{display:inline-block;width:100%;height:100%;position:fixed;top:0;right:0;z-index:999;text-align:center;background:#fff;background:var(--bg)}
.preloader .preloader-container{display:inline-block;width:100px;height:100px;margin:auto;position:absolute;top:44%;right:0;position:relative}
.preloader .preloader-container .animated-preloader{display:inline-block;width:100px;height:100px;position:absolute;top:0;right:0;background:var(--primary-color);border-radius:50em}
.preloader .preloader-container .animated-preloader:after{content:'';display:inline-block;width:100px;height:100px;position:absolute;top:0;right:0;border-radius:50em;-webkit-animation:preloader-inside-white 1s ease-in-out infinite;animation:preloader-inside-white 1s ease-in-out infinite;background:#fff;background:var(--bg)}
.preloader .preloader-container .animated-preloader:before{content:'';display:inline-block;width:100px;height:100px;position:absolute;top:0;right:0;z-index:10;border-radius:50em;-webkit-animation:preloader-inside-red 1s ease-in-out infinite;animation:preloader-inside-red 1s ease-in-out infinite;background:#d32f2f;background:var(--primary-color)}
button{background-color:transparent;border:transparent}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.navbar{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:.6rem 1.2rem;height:52px;width:100%;border-bottom:1px solid #eee;background:#fff;border-bottom:1px solid var(--border-color);background:var(--navbar-bg)}
.navbar>.left{margin-left:auto;line-height:1}
.navbar>.right{margin-right:auto;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.navbar>.center{margin:0 auto;text-align:center}
.navbar>.left,.navbar>.right{width:40px}
.navbar .svg-icon{width:1.8rem;height:1.8rem;fill:#424242;fill:var(--icon-color)}
.navbar .logo{-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:1.75rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:none}
.navbar .logo .svg-icon{margin-left:1rem}
.navbar .menu-icon{display:inline-block;cursor:pointer}
.navbar .chapter__nav{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.navbar .chapter__nav__next,.navbar .chapter__nav__prev{cursor:pointer;line-height:0}
.navbar .chapter__nav__name{margin:0 30px;font-size:1.5rem;font-weight:700}
.navbar .nav__icons{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.navbar .nav__icons>[class*='__icon']{display:inherit}
.navbar .nav__icons .svg-icon{margin:0 1rem}
.viewport-settings{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:absolute;position:-webkit-sticky;position:sticky;font-size:14px;left:1em;top:1em;z-index:1}
.viewport-settings .viewport-settings__wrapper{position:relative}
.viewport-settings .viewport-settings__toggle{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:3em;height:3em;border-radius:50%;position:absolute;left:0;top:0;background-color:#f5f5f5;background-color:var(--bg-secondary)}
.viewport-settings .viewport-settings__toggle .svg-icon{width:1.5em;height:1.5em}
.viewport-settings .viewport-settings__toggle .svg-icon svg{fill:#212121;fill:var(--color)}
.viewport-settings .viewport-settings__dropdown{display:none;width:230px;height:auto;position:absolute;top:3.5rem;left:0;padding:.5rem 0;border-radius:6px;-webkit-box-shadow:0 11px 15px rgba(0,0,0,.3);box-shadow:0 11px 15px rgba(0,0,0,.3);background-color:#fff;background-color:var(--bg)}
.viewport-settings .viewport-settings__dropdown.active{display:block}
.settings-group{padding:.7em 1em;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}
.settings-group .settings-group__label{margin-bottom:1em;-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;color:#bdbdbd;color:var(--label-color)}
.settings-group .settings-group__input-field label{width:2.3em;height:2.3em;border-radius:3em;font-size:.8em;line-height:1;cursor:pointer}
.settings-group .settings-group__input-field label .svg-icon{width:1.3em;height:1.3em}
.settings-group .settings-group__input-field input{display:none}
.settings-group .settings-group__input-field input:checked+label{background-color:#d32f2f;color:#fff;background-color:var(--primary-color);color:var(--bg)}
.settings-group .settings-group__input-field input:checked+label svg{fill:#fff;fill:var(--bg)}
.settings-group.alignment .settings-group__input-field label{width:2.8em;height:2.8em}
.settings-group.alignment .settings-group__input-field label .svg-icon{width:1.5em;height:1.5em}
.settings-group.font-variant{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.settings-group.font-variant .settings-group__input-field{-webkit-box-flex:0;-ms-flex:0 0 47%;flex:0 0 47%;margin:.3em .2em}
.settings-group.font-variant .settings-group__input-field:nth-child(even){margin-left:0}
.settings-group.font-variant .settings-group__input-field label{width:100%;font-size:1em}
.settings-group.font-variant .settings-group__input-field label[for*='1']{font-family:Georgia,'Times New Roman',Times,serif}
.settings-group.font-variant .settings-group__input-field label[for*='2']{font-family:'Nunito sans','Segoe UI',Tahoma,Geneva,Verdana,sans-serif}
.settings-group.font-variant .settings-group__input-field label[for*='3']{font-family:Arial,Helvetica,sans-serif}
.verse-viewport{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;height:calc(100vh - 52px - 2.4rem);position:relative}
.bible__chapters{width:100%;height:100%;overflow:auto;position:relative;padding-right:14px}
.bible__chapters .container{max-width:500px;width:100%}
.bible__chapters__title{text-align:center;font-weight:700;font-size:1.4rem;line-height:1;margin:.8rem 0}
.bible__chapters__verses{font-size:1.1rem;line-height:1.6;margin:1.6rem 0;padding:0 1.5rem}
.bible__chapters__verses>p{display:block;margin:0 0 .7rem;cursor:pointer;position:relative}
.bible__chapters__verses>p .verse_number{opacity:.7;vertical-align:super;margin-left:.2rem}
.bible__chapters__verses>p.selected .verse_number,.bible__chapters__verses>p.selected .verse_text{border-bottom:2px dashed #212121;border-bottom:2px dashed var(--color)}
.bible__chapters__verses>p.highlight:before{position:absolute;top:-4px;bottom:-10px;right:-10px;left:-10px;content:'';background-color:#d32f2f;border-radius:10px;opacity:0;-webkit-animation-name:highlight-animation;animation-name:highlight-animation;-webkit-animation-duration:4s;animation-duration:4s;-webkit-animation-iteration-count:1;animation-iteration-count:1}
.search-coming-soon{height:100%;text-align:center;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.search-coming-soon img{width:150px;opacity:1}
.search-coming-soon .svg-icon{width:2rem;height:2rem;margin-left:.7rem}
.search-coming-soon h1{margin-top:2rem;margin-bottom:0}
.search-coming-soon p{font-size:1.2rem;margin-top:.5rem}
.langSelector{width:160px;position:relative}
.langSelector .svg-icon{width:1rem;height:1rem;position:absolute;bottom:.8rem;right:.8rem;z-index:1}
.langSelector .select__value-container{padding-right:2.5rem}
.langSelector .select__control{background-color:#f5f5f5;border-color:#fff;background-color:var(--bg-secondary);border-color:var(--bg)}
.langSelector .select__placeholder,.langSelector .select__single-value{color:#212121;color:var(--color)}
.langSelector .select__menu{background-color:#f5f5f5;background-color:var(--bg-secondary)}
.langSelector .select__option:active{background-color:#d32f2f;background-color:var(--primary-color)}
.langSelector .select__option--is-selected{background-color:#d32f2f;background-color:var(--primary-color)}
@media (prefers-color-scheme:light){
:where(:root),body:not(.night-mode){--bg:#FFFFFF;--color:#212121;--primary-color:#D32F2F;--bg-secondary:#f5f5f5;--border-color:#eeeeee;--hover-color:#e0e0e0;--icon-color:#424242;--navbar-bg:#FFFFFF;--scrollbar-bg:#e0e0e0;--label-color:#bdbdbd}
}
@media (prefers-color-scheme:dark){
:where(:root){--bg:#11171a;--color:#f5f5f5;--primary-color:#78909c;--bg-secondary:#263238;--border-color:#263238;--hover-color:#455a64;--icon-color:#b0bec5;--navbar-bg:#263238;--scrollbar-bg:#37474f;--label-color:#546e7a}
}
@media (min-width:400px){
.container{width:85%;padding:0}
}
@media (min-width:550px){
.container{width:70%}
.column,.columns{margin-right:4%}
.column:first-child,.columns:first-child{margin-right:0}
.one.column,.one.columns{width:4.66667%}
.two.columns{width:13.33333%}
.three.columns{width:22%}
.four.columns{width:30.66667%}
.five.columns{width:39.33333%}
.six.columns{width:48%}
.seven.columns{width:56.66667%}
.eight.columns{width:65.33333%}
.nine.columns{width:74%}
.ten.columns{width:82.66667%}
.eleven.columns{width:91.33333%}
.twelve.columns{width:100%;margin-right:0}
.one-third.column{width:30.66667%}
.two-thirds.column{width:65.33333%}
.one-half.column{width:48%}
.offset-one.column,.offset-one.columns{margin-right:8.66667%}
.offset-two.column,.offset-two.columns{margin-right:17.33333%}
.offset-three.column,.offset-three.columns{margin-right:26%}
.offset-four.column,.offset-four.columns{margin-right:34.66667%}
.offset-five.column,.offset-five.columns{margin-right:43.33333%}
.offset-six.column,.offset-six.columns{margin-right:52%}
.offset-seven.column,.offset-seven.columns{margin-right:60.66667%}
.offset-eight.column,.offset-eight.columns{margin-right:69.33333%}
.offset-nine.column,.offset-nine.columns{margin-right:78%}
.offset-ten.column,.offset-ten.columns{margin-right:86.66667%}
.offset-eleven.column,.offset-eleven.columns{margin-right:95.33333%}
.offset-one-third.column,.offset-one-third.columns{margin-right:34.66667%}
.offset-two-thirds.column,.offset-two-thirds.columns{margin-right:69.33333%}
.offset-one-half.column{margin-right:52%}
}
@media only screen and (min-width:1170px){
.sidebar{max-width:360px;position:static}
.sidebar.left .verses_list{display:inline-block}
.application.fixed-layout .verse-viewport .sidebar{display:block}
.navbar>.center,.navbar>.left,.navbar>.right{-webkit-box-flex:0;-ms-flex:0 0 33.3%;flex:0 0 33.3%}
.navbar .logo{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}
.navbar .menu-icon{display:none}
}
@media print{
*,:after,:before{background:100% 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;color:#212121!important;color:var(--color)!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
blockquote,pre{page-break-inside:avoid;border:1px solid #999}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
@-webkit-keyframes preloader-inside-white{
0%{-webkit-transform:scale(0,0);transform:scale(0,0)}
100%{-webkit-transform:scale(1,1);transform:scale(1,1)}
}
@keyframes preloader-inside-white{
0%{-webkit-transform:scale(0,0);transform:scale(0,0)}
100%{-webkit-transform:scale(1,1);transform:scale(1,1)}
}
@-webkit-keyframes preloader-inside-red{
0%,30%{-webkit-transform:scale(0,0);transform:scale(0,0)}
100%{-webkit-transform:scale(1,1);transform:scale(1,1)}
}
@keyframes preloader-inside-red{
0%,30%{-webkit-transform:scale(0,0);transform:scale(0,0)}
100%{-webkit-transform:scale(1,1);transform:scale(1,1)}
}
@-webkit-keyframes highlight-animation{
0%{opacity:0}
10%{opacity:.2}
100%{opacity:0}
}
@keyframes highlight-animation{
0%{opacity:0}
10%{opacity:.2}
100%{opacity:0}
}
/*# sourceMappingURL=maps/styles-rtl.css.map */
