.navbar{
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem;
  height: $navbar-height;
  width: 100%;
  @include css4{
    border-bottom: 1px solid var(--border-color);
    background: var(--navbar-bg);
  };
  > .left{
    margin-right: auto;
    line-height: 1;
    width: 300px;
  }
  > .right{
    margin-left: auto;
    display: inline-flex;
    align-self: flex-start;
    width: 300px;
  }
  >.center{
    margin: 0 auto;
  }
  .svg-icon{
    width: 1.8rem;
    height: 1.8rem;
    @include css4{fill: var(--icon-color);}
  }
  .logo{
    display: inline-flex;
    align-items: center;
    font-size: 1.75rem;
    .svg-icon{
      margin-right: 1rem;
    }
    img{
      height: 38px;
    }
  }
  .chapter__nav{
    display: inline-flex;
    align-items: center;
    &__next, &__prev{
      cursor: pointer;
    }
    &__name{
      margin: 0 30px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .nav__icons{
    display: inline-flex;
    align-items: center;
    > [class*='__icon']{
      display: inherit;
    }
    .svg-icon{
      margin: 0 1rem;
    }
  }
  .lang-select{
    position: relative;
    margin-left: auto;
  }
}
