.application {
	@include css4 {
		background-color: var(--bg);
	};

	&.fixed-layout {
    header{
      position: fixed;
      top: 0;
    }
    .verse-viewport{
      margin-top: $navbar-height;
      overflow: hidden;
      .sidebar{
        height: 100%;
      }
    }
  }
}
header{
  height: $navbar-height;
  width: 100%;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: var(--footer-line-height);
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	@include css4{
		border-top: 1px solid var(--border-color);
		background-color: var(--bg);
	}
	svg{
		color: color('red', 'darken-1');
		width: 1rem;
		height: 1rem;
		margin: 0 0.6rem 0 0.4rem;
	}
}
