* {
	box-sizing: border-box;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

html,
body {
	font-size: 14px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include css4 {
		font-family: var(--font);
		color: var(--color);
	}
	font-family: var(--font);
	color: var(--color);
	margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

.browserupgrade {
	margin: 0.2em 0;
	padding: 0.2em 0;

	@include css4 {
		background: var(--bg);
		color: var(--color);
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

svgicons{
  display: none;
}
